<hmtl>

	<body>

		<div id="sign-in-form">

			<form method="post" action="/sessions"><p style="font-size:1.5em;">Please sign in to use Chitter...</p><br />
			<p>Username</p> <input type="text" name="username">
			<p>Password &nbsp;&nbsp;(<a href="/forgotpassword">Forgot your password?</a>)</p> <input type="password" name="password"> <input type="submit" value="Sign in"> 
			</form>

			<br />
			
		</div>

	</body>

</hmtl>
