* {
	box-sizing: border-box;
}

/*==========
FONTS
==========*/

	a {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: #4f4748;
	}

	p.form {
		font-weight: 400;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 1em;
	}

/*=========
HEADER
=========*/

	/*HEADER LAYOUT*/

	header#container {
		margin-left: auto;
		margin-right: auto;
		height: 60px;
		max-width: 75%;
		min-width: 75%;
		background-color: #4f4748;
	}

	section#header {
		max-width: 100%;
		min-width: 100%;
	}

	#header-icon {
		float: left;
		margin-left: 25px;
		margin-top: 10px;
	}

	h1#app-name {
		display: inline;
		float: left;
		margin-left: 30px;
		margin-top: 5px;
		font-weight: 900;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 3em;
	}

	a#sign-in-button {
	  float:right;
	  margin-right: 100px;
	  margin-top: 13px;
	  color: #4f4749;
	  font-size: 1.5em;
	  font-weight: 600;
	  background: #fbc616;
	  text-align: center;
	  vertical-align: center;
	  padding: 5px 20px 5px 20px;
	  text-decoration: none;
	}

/*==========
MAIN BODY
==========*/

	section#main-body {
		max-width: 75%;
		min-width: 75%;
		margin-left: auto;
		margin-right: auto;
		height: 1400px;
		background-color: #cccccc;
	}

	section#centre-column{
		float: left;
		max-width: 75%;
		min-width: 75%;
		height: 1400px;
	}


	/*LIST OF PEEPS*/

	ul#list-of-peeps {
		margin-left: auto;
		margin-right: auto;
		margin-top: 3.3%;
		width: 90%;
		height: 95%;
		background-color: #4f4749;
	}

	.peep {
	  background-color: white;
	  margin: 20px;
	  margin-top: 20px;
	  border: 5px solid #fbc616;
	}

p.peep-message {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  margin-left: 25px;
  font-size: 1.25em;
  font-color: yellow;
  padding-top: 15px;
  padding-bottom: 10px;
}

p.peep-date {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  text-align: right;
  margin-right: 10px;
}

p.peep-username {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  padding-top: 10px;
  padding-left: 10px;
}

p.remove-peep {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  text-align: right;
  margin-right: 10px;
  padding-bottom: 10px;
}


	/*NEW PEEP FORM*/


	#new-peep form input[type=text] {
  	display: block;
  	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    border: 1px;
    font-size: 1em;
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

#new-peep form input[type=submit]{
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	background-color: #fbc616;
	padding: 5px;
	margin-left: 10px;

}


  #new-peep form p {
    font-size: 0.8em;
    width: 400px;
    height: 35px;

  }

section#new-peep {
	
	width: 90%;

	background-color: #4f4749;
	margin-left: auto;
	margin-right: auto;
}

/*==========
RIGHT COLUMN
==========*/

section#right-column {
	float: left;
	max-width: 25%;
	min-width: 25%;
	height: 1400px;
}

	/*SIGN IN FORM*/

	aside#sign-in-box {
		display: block;
		margin-top: 10%;
		background-color: #fbc616;
		z-index: 5;
	}

	aside#sign-in-box h2 {
		padding: 10px;
		font-weight: 700;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: #4f4749;
		font-size: 2em;
	}

	#sign-in-form p {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: #4f4749;
    font-size: 1em;
    font-weight: 400;
    padding-top: 10px;
		margin-left: 10px;
	}

	#sign-in-form input[type=text], input[type=password] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		border: 1px;
		font-size: 1em;
		background-color: white;
		padding: 5px;
		margin: 10px;
	  width: 75%;
	}

	#sign-in-form input[type=submit] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		border: 1px;
		font-size: 1.25em;
		background-color: #4f4748;
		padding: 5px;
		margin: 10px;
	  width: 30%;
	}

	/*SIGN UP FORM*/

	aside#sign-up-box {
		display: block;
		margin-top: 10%;
		background-color: #fbc616;
		z-index: 5
	}

	aside#sign-up-box h2 {
		padding: 10px;
		font-weight: 700;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: #4f4749;
		font-size: 2em;
	}

	#sign-up-form p {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: #4f4749;
    font-size: 1em;
    font-weight: 400;
    padding-top: 10px;
		margin-left: 10px;
	  }

	#sign-up-form input[type=text], input[type=password] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		border: 1px;
		font-size: 1em;
		background-color: white;
		padding: 5px;
		margin: 10px;
	  width: 75%;
	}

	#sign-up-form input[type=submit] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		border: 1px;
		font-size: 1.25em;
		background-color: #4f4748;
		padding: 5px;
		margin: 10px;
	  width: 30%;
	}

	/*LOST PASSWORD FORM*/

	aside#forgot-password-box {
		display: block;
		margin-top: 10%;
		background-color: #fbc616;
		z-index: 10
	}

	aside#forgot-password-box h2 {
		padding: 10px;
		font-weight: 700;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: #4f4749;
		font-size: 1.5em;
	}

	#forgot-password-form p {
			font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
			color: #4f4749;
	    font-size: 1em;
	    font-weight: 400;
	    padding-top: 10px;
			margin-left: 10px;
	  }

	#forgot-password-form input[type=text], input[type=password] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		border: 1px;
		font-size: 1em;
		background-color: white;
		padding: 5px;
		margin: 10px;
	  width: 75%;
	}

	#forgot-password-form input[type=submit] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		border: 1px;
		font-size: 1.25em;
		background-color: #4f4748;
		padding: 5px;
		margin: 10px;
	  width: 30%;
	}

	/*PROFILE BOX*/

	img#profile-avatar {
		display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	  margin-top: 20%;
	  border: 10px solid #4f4749;
	}

	aside#profile-info-box {
		display: block;
		margin-top: 15%;
		height: 8%;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		background-color: #4f4749;
	}


	aside#profile-info-box p {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: 600;
		font-size: 1.2em;
		margin-left: 8%;
	}

	aside#profile-info-box h4 {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		padding-top: 5%;
		margin-left: 5%;
		font-weight: 400;
		font-size: 0.8em;
	}

	aside#welcome-box {
		display: block;
		margin-top: 20%;
		height: 8%;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		background-color: #4f4749;
	}

	p.welcome-message {
		font-weight: 400;
		padding-left: 7%;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 1.25em;
		padding-top: 5%;
		padding-bottom: 3%;
	}

	#sign-out-form input[type=submit] {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		border: 1px;
		font-size: 1em;
		background-color: #fbc616;
		padding: 5px;
		margin: 10px;
	  width: 32%;
	  margin-left: 7%;
	}

/*
==========
ERRORS
==========*/

.flash {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #4f4748;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
 	font-size: 1.5em;  
}