/*HEADER*/

header#container {
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	max-width: 75%;
	min-width: 75%;
	background-color: #4f4748;
}

section#header {
	max-width: 100%;
	min-width: 100%;
}

#header-icon {
	float: left;
	margin-left: 25px;
	margin-top: 10px;
}

h1#app-name {
	display: inline;
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	font-weight: 900;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	color: white;
	font-size: 3em;
}

a#sign-in-button {
  float:right;
  margin-right: 100px;
  margin-top: 13px;
  width: 80px;
  color: #4f4749;
  font-size: 1.5em;
  font-weight: 600;
  background: #fbc616;
  text-align: center;
  vertical-align: center;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

section#sign-in-box {
	position: relative;
	left: 700px;
	top: 100px;
	height: 200px;
	width: 400px;
	background-color: #fbc616;
	z-index: 5;
}


/*==========
FONTS & HEADERS
==========*/



	h2 {
		font-weight: 400;
		padding-left: 8%;
		padding-top: 4%;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 2em;
	}

	p.form {
		font-weight: 400;
		padding-left: 8%;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 1em;
	}

	p.welcome-message {
		font-weight: 400;
		padding-left: 8%;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 1.2em;
		padding-top: 20px;
	}

	p.daily-thought {
		font-weight: 400;
		padding-left: 8%;
		padding-right: 8%;
		text-align: justify;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 1em;
		padding-top: 20px;
	}

	p#daily-thought-small {
		padding-left: 8%;
		padding-right: 8%;
		text-align: justify;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 0.8em;
		padding-top: 20px;
	}

	#log-out-form {
		position: relative;
		top: 10px;
		left: 20px;
	}

	a {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: #4f4748;
	}

	aside#profile-info-box p {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: 600;
		font-size: 1.2em;
	}

	aside#profile-info-box h4, p#name, p#username {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		padding-top: 10px;
		margin-left: 10px;
		font-weight: 400;
		font-size: 0.7em;
	}


	p# {
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		padding-top: 10px;
		margin-left: 10px;
		font-weight: 400;
		font-size: 0.7em;
	}


/*==========
HEADER
==========*/






/*==========
MAIN AREA
==========*/

aside#profile-avatar-box {
	position: absolute;
	top: 200px;
	height: 15%;
	width: 15%;
	background-color: #4f4749;
}

	img#profile-avatar {
		position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
	}

aside#profile-info-box {
	position: absolute;
	left: 175px;
	top: 375px;
	height: 100px;
	width: 200px;
	background-color: #4f4749;
}

section#main-body {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: 1400px;
		background-color: #cccccc;
		max-width: 80%;
		min-width: 80%;
	}

		#list-of-peeps {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			top: 25px;
			height: 95%;
			
			background-color: #4f4749;
		}

aside#sign-up-box {
	position: absolute;
	top: 125px;
	left: 1025px;
	height: 470px;
	width: 200px;
	background-color: #4f4749;
}

/*==========
SIGN IN FORM
==========*/

#sign-in-form input[type=text], input[type="password"], #forgot-password-form input[type=text], input[type="password"] {
    border: 1px;
    font-size: 1em;
    width: 250px;
    height: 30px;
    margin-left: 35px; 
    margin-top: 5px;
    margin-bottom: 15px;
  }

#sign-in-form input[type=submit], #forgot-password-form input[type=submit]{
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	background-color: #4f4749;
	padding: 5px;
	margin-left: 10px;

}

#sign-in-form p, #forgot-password p {
		color: #4f4749;
    font-size: 1em;
    font-weight: 400;
  }

#sign-in-form h2, #forgot-password-form h2 {
		font-weight: 700;
		margin-left: 10px;
		padding-top: 4%;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: #4f4749;
		font-size: 1.25em;
	}

/*==========
SIGN UP FORM
==========*/

#sign-up-form input[type=text], #sign-up-form input[type="password"] {
    border: 1px;
    font-size: 1em;
    width: 125px;
    height: 30px;
    margin-left: 35px; 
    margin-top: 5px;
    margin-bottom: 15px;
  }

#sign-up-form input[type=submit] {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #4f4749;
	background-color: #fbc616;
	padding: 5px;
	margin-top: 10px;
	margin-left: 25px;

}

#sign-up-form p {
		color: white;
    font-size: 1em;
    font-weight: 400;
  }

#sign-up-form h2 {
		font-weight: 700;
		margin-left: 10px;
		padding-top: 10%;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		color: white;
		font-size: 1.25em;
	}


/*==========
NEW PEEP
==========*/

section#new-peep {
	position: absolute;
	top: -5px;
	left: 800px;
}

  #new-peep form input[type=text] {
    border: 1px;
    font-size: 1em;
    width: 400px;
    height: 35px;
    margin-left: 20px; 
  }

  #new-peep form p {
    position: absolute;
    top: 10px;
    left: -15px;
    font-size: 0.8em;
    width: 400px;
    height: 35px;

  }

/*==========
LIST OF PEEPS AREA
==========*/


#peeps-container {
  background-color: #8dc63f;
}

.peep {
  background-color: white;
  margin: 10px;
  margin-top: 20px;
  padding: 15px, 15px;
  border: 6px solid #fbc616;
}
p.peep-message {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  margin-left: 25px;
  font-size: 1.25em;
  font-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.peep-date {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  text-align: right;
  margin-right: 10px;
  padding-bottom: 10px;
}

p.peep-username {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  padding-top: 10px;
  padding-left: 10px;

}
/*
==========
ERRORS
==========*/

.flash {
	width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;  
}

  .flash.notice {
    background-color: #4f4748;
    color: white;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  	font-size: 1.5em;
  }

  .flash.error {
   background-color: #4f4748;
   color: white;
   font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  	font-size: 1.5em;
  }

/*==========
FORGOT PASSWORD BOX
==========*/

section#forgot-password-box {
	position: absolute;
	top: 75px;
	left: 800px;
	height: 235px;
	width: 400px;
	background-color: #fbc616;
	z-index: 2;
}