header {
	background-color: #8dc63f;
	height: 100px;
}

h1 {
	font-family: Ayuthaya, Arial, sans-serif;
	font-size: 4em;
	color: #f8f7f2;
  padding-top: 20px;
  padding-left: 15px
}

body {
	background-image: url(/images/background-image.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

a {
  text-decoration: none;
}

a:visited {
    color: #f8f7f2;
}


a.sign-in-button {
  display: inline-block;
  width: 80px
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Ayuthaya, Arial, sans-serif;
  color: #8dc63f;
  font-size: 1em;
  background: #f8f7f2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  left: 1020px;
  top: -40px;
}

a.sign-up-button {
  display: inline-block;
  width: 80px
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Ayuthaya, Arial, sans-serif;
  color: #8dc63f;
  font-size: 1em;
  background: #f8f7f2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  left: 1020px;
  top: -40px;
}


#peeps-container {
  background-color: #8dc63f;
  margin: 40px;
  padding: 10px;
}

.peep {
  background-color: #f8f7f2;
  margin: 10px inherit;
  padding: 15px, 10px;
}
p.peep-msg {
  margin-left: 25px;
  font-family: Ayuthaya, Arial, sans-serif;
  font-size: 1.25em;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.peep-date {
  font-size: 0.6em;
  font-family: Ayuthaya, Arial, sans-serif;
  text-align: right;
  margin-right: 10px;
  padding-bottom: 15px;
}

p.peep-username {
  font-size: 0.8em;
  font-family: Ayuthaya, Arial, sans-serif;
  padding-top: 10px;
  padding-left: 10px;

}

p {
  font-size: 1em;
  font-family: Ayuthaya, Arial, sans-serif;
}

#sign-in-form {
  background-color: #8dc63f;
  margin: 40px;
  padding: 10px;
}

form {
  font-family: Ayuthaya, Arial, sans-serif;
  color: #f8f7f2;
}
  
  form p {
    margin: 10px;
  }

  form input[type=text], form input[type="password"] {
    border: 1px;
    font-size: 1em;
    width: 400px;
    height: 25px;
    margin-left: 20px; 
    margin-top: 100px;
  }


.flash {
  text-align: center;
  margin: 5px;
  padding: 5px;  
  border-radius: 4px;
  color: white;
}

  .flash.notice {
    background-color: black;
    color: white;
  }

  .flash.error {
   background-color: black;
   color: white;
  }

form#log-out {
  position: relative;
  left: 1310px;
  top: -23px;
}

p#welcome-msg {
  text-align: right;
  font-size: 1em;
  font-color: navy;
  margin-right:100px;
  position: relative;
  top: -7px;
}

#new-peep {
  background-color: #8dc63f;
  margin: 40px;
  padding: 10px;
}

  form input[type=text], form input[type="password"] {
    border: 1px;
    font-size: 1em;
    width: 400px;
    height: 35px;
    margin-left: 20px; 
  }


