
	<form method="post" action="/update_new_password">
		
		Please fill in this form.

		Password: <input type="password" name='new_password'>
		Confirm Password: <input type="password" name='new_password_confirm'>
		<input type="submit" name="Submit" value="Submit">
	</form>