<% if flash[:notice] %>
  <ul>
    <li id='flash-notice'>
		  <%= flash[:notice] %></li>
  </ul>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  	<ul>
    	<% flash[:errors].each do |error| %>
      	<li id='flash-error'><%= error %></li>
    	<% end %>
  	</ul>	
<% end %>
