<% if flash[:notice] %>
	<div class='flash'>
		<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  	<ul>
    	<% flash[:errors].each do |error| %>
      	<li class='flash'><%= error %></li>
    	<% end %>
  	</ul>	
<% end %>
