<aside id='forgot-password-box'>	
	<form action='/forgotpassword' method='post' id='forgot-password-form'><h2>Please enter your username and email address. A link to reset your password will be sent to you via email.</h2>
	<p class='form'>Username</p> <input name='username' type='text' placeholder='Username'>
	<p class='form'>Email</p> <input name='email' type='text' placeholder='Email address'> <input type="submit" name="Submit" value="Submit">
	</form>
</aside>