<section id='forgot-password-box'>
	
	<form action="/forgotpassword" method="post"><p style="font-size:1.5em;">Please enter your username and email address.<br/> A link to reset your password will be sent to you via email.</p><br />
	<p>Username</p> <input name="username" type="text">
	<p>Email</p> <input name="email" type="text"> <input type="submit" name="Submit" value="Submit">
	</form>

	<br />

</section>
