<body>
	
	<section id='main-body'>
		<ul id='list-of-peeps'>
		<br />
			<template id='peep-template'>
				<li class='peep'>
					<p class='peep-username'>{{name}} (@{{username}}) says:</p>
					<p class='peep-message'>{{message}}<p>
					<p class='peep-date'>{{date}}</p>
					<a href='#' id='remove'>remove</a>
				</li>	
			</template>		
		</ul>
	</section>


	<script src='/scripts/jquery-min.js' type='text/javascript'></script>
	<script src='/scripts/handlebars.js' type='text/javascript'></script>	
	<script src='/scripts/interface.js' type='text/javascript'></script>

</body>