<body>
	
<section id='main-body'>
	
		<section id='centre-column'>

			<% if current_user %>

				<section id="new-peep">
					<form action="/peeps" method="post">
					<p class='form'>Post a new peep! (Max 150 characters)</p><br /><br /><input type="text" name="message" placeholder='Your message goes here'>
					<input type="submit" value="Post">
					</form>		
				</section>

			<% end %>

			<ul id='list-of-peeps'>
				<br />
					<template id='peep-template'>
						<li class='peep'>
							<p class='peep-username'>{{name}} (@{{username}}) says:</p>
							<p class='peep-message'>{{message}}<p>
							<p class='peep-date'>{{date}}</p>
							<p class='remove-peep'><% if current_user %><a href='' id='remove'>*remove peep*</a><% end %></p>
						</li>	
					</template>		
			</ul>
					
		</section>
		


		<section id='right-column'>

			<% if current_user %>
			
				<aside id='welcome-box'>	
					<p class='welcome-message'>Welcome, <%= current_user.name %>!<br />(@<%= current_user.username %>)</p>
					<form id="sign-out-form" method="post" action="/sessions">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Sign out" id='log-out-button'>
					</form>
					<br />
				</aside>

				<img src='/images/profile-avatar.png' id='profile-avatar' alt='Profile avatar'>

				<aside id='profile-info-box'>
					<h4>Name:</h4>
					<p id='name'><%= current_user.name %></p>
					<h4>Username:</h4>
					<p id='username'><%= current_user.username %></p>
				</aside>

			<% else %>

				<aside id='sign-in-box'>
					<form method='post' action='/sessions' id='sign-in-form'><h2>Sign in here</h2>
						<p class='form-label'>Username</p> <input type='text' name='username' placeholder='Username'>
						<p class='form-label'>Password (<a href='#' id="forgot-password-button">Forgot your password?</a>)</p> 
						<input type="password" name="password" placeholder='Password'>
						<input type="submit" id='sign-in-form-button' value="Sign in"> 
					</form>
				</aside>

				<aside id='forgot-password-box'>	
					<form action='/forgotpassword' method='post' id='forgot-password-form'><h2>Please enter your username and email address. A link to reset your password will be sent to you via email.</h2>
					<p class='form'>Username</p> <input name='username' type='text' placeholder='Username'>
					<p class='form'>Email</p> <input name='email' type='text' placeholder='Email address'> <input type="submit" name="Submit" value="Submit">
					</form>
				</aside>

				<aside id='sign-up-box'>
					<form method='post' action='/users' id='sign-up-form'><h2>Sign up here</h2>
						<p class='form'>Full Name</p> <input name='name' type='text' placeholder='Full Name'>
						<p class='form'>Username</p> <input name='username' type='text' placeholder='Username'>
						<p class='form'>Email</p> <input name='email' type='text' placeholder='Email address'>
						<p class='form'>Password</p> <input name='password' type='password'>
						<p class='form'>Password Confirmation</p> <input name='password_confirmation' type='password'>
						<input type="submit" value="Sign up" class='submit-button'>
					</form>
				</aside>

			<% end %>

		</section>

	</section>

	<script src='/scripts/jquery-min.js' type='text/javascript'></script>
	<script src='/scripts/handlebars.js' type='text/javascript'></script>	
	<script src='/scripts/interface.js' type='text/javascript'></script>

</body>