<body>
	
	<section id='main-body'>


		<aside id='profile-avatar-box'>
			<img src='/images/profile-avatar.png' id='profile-avatar' alt='Profile avatar'>	
		</aside>


		<% if current_user %>
			<aside id='profile-info-box'>
				<h4>Name:</h4>
				<p id='name'><%= current_user.name %></p>
				<h4>Username:</h4>
				<p id='username'><%= current_user.username %></p>
			</aside>

		<% else %>

			<aside id='profile-info-box'></aside>

		<% end %>
		
		
		<section id='list-of-peeps'></section>	

		<aside id='sign-up-box'>
			<form method='post' action='/' id='sign-up-form'><h2>Sign up here</h2><br />
				<p>Full Name</p> <input name='name' type='text' placeholder='Full Name'>
				<p>Username</p> <input name='username' type='text' placeholder='Username'>
				<p>Email</p> <input name='email' type='text' placeholder='Email address'>
				<p>Password</p> <input name='password' type='password'>
				<p>Password Confirmation</p> <input name='password_confirmation' type='password'>
				<input type="submit" value="Sign up">
			</form>
		</aside>


	</section>

	<script src='/scripts/jquery-min.js' type='text/javascript'></script>
	<script src='/scripts/interface.js' type='text/javascript'></script>

</body>