<body>
	
	<section id='main-body'>

		<section id='list-of-peeps'>
			

			
<!-- 				<div id="peeps-container">
		<ul id="peeps">
			<% @peeps.each do |peep| %>
			<li class="peep">
			<p class="peep-username">@<%= peep.user.username %>(<%= peep.user.name %>) says:</p><br />
			<p class="peep-msg"><%= peep.message %><br />
			<p class="peep-date"><%= peep.date %></p></p></li><br /><% end %>
		</ul> -->

		</section>	

	</section>

	
	<script src='/scripts/jquery-min.js' type='text/javascript'></script>
	<script src='/scripts/interface.js' type='text/javascript'></script>

</body>