<aside id='profile-avatar-box'>
	<img src='/images/profile-avatar.png' id='profile-avatar' alt='Profile avatar'>	
</aside>

<% if current_user %>
	<aside id='profile-info-box'>
		<h4>Name:</h4>
		<p id='name'><%= current_user.name %></p>
		<h4>Username:</h4>
		<p id='username'><%= current_user.username %></p>
	</aside>

<% else %>

	<aside id='profile-info-box'>
		<p class='daily-thought-small'>Oh, people can come up with statistics to prove anything, Kent. 14% of people know that!<br /><br />- Homer Simpson</p>

	</aside>

<% end %>