<aside id='profile-avatar-box'>
	<img src='/images/profile-avatar.png' id='profile-avatar' alt='Profile avatar'>	
</aside>

<% if current_user %>
	<aside id='profile-info-box'>
		<h4>Name:</h4>
		<p id='name'><%= current_user.name %></p>
		<h4>Username:</h4>
		<p id='username'><%= current_user.username %></p>
	</aside>

<% end %>