<aside id='sign-in-box'>
	<form method='post' action='/sessions' id='sign-in-form'><h2>Sign in here</h2>
		<p class='form-label'>Username</p> <input type='text' name='username' placeholder='Username'>
		<p class='form-label'>Password (<a href='#' id="forgot-password-button">Forgot your password?</a>)</p> 
		<input type="password" name="password" placeholder='Password'>
		<input type="submit" id='sign-in-form-button' value="Sign in"> 
	</form>
</aside>