<aside id='sign-up-box'>
	<form method='post' action='/users' id='sign-up-form'><h2>Sign up here</h2>
		<p class='form'>Full Name</p> <input name='name' type='text' placeholder='Full Name'>
		<p class='form'>Username</p> <input name='username' type='text' placeholder='Username'>
		<p class='form'>Email</p> <input name='email' type='text' placeholder='Email address'>
		<p class='form'>Password</p> <input name='password' type='password'>
		<p class='form'>Password Confirmation</p> <input name='password_confirmation' type='password'>
		<input type="submit" value="Sign up" class='submit-button'>
	</form>
</aside>