<% if current_user %>

	<aside id='sign-up-box'>
	
		<p class='welcome-message'>Welcome, <%= current_user.name %>!<br />(@<%= current_user.username %>)</p>
		
		<form id="log-out-form" method="post" action="/sessions">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Sign out" id='log-out-button'>
		</form>
		
		<br />
		
		<p class='daily-thought'>Look Marge, you don't know what it's like. I'm the one out there every day putting his ass on the line. And I'm not out of order! You're out of order. The whole freaking system is out of order. You want the truth? You want the truth?! You can't handle the truth! 'Cause when you reach over and put your hand into a pile of goo that was your best friend's face, you'll know what to do! Forget it, Marge, it's Chinatown!<br /><br />- Homer Simpson</p>
	
	</aside>

<% else %>

	<aside id='sign-up-box'>
		<form method='post' action='/users' id='sign-up-form'><h2>Sign up here</h2><br />
			<p class='form'>Full Name</p> <input name='name' type='text' placeholder='Full Name'>
			<p class='form'>Username</p> <input name='username' type='text' placeholder='Username'>
			<p class='form'>Email</p> <input name='email' type='text' placeholder='Email address'>
			<p class='form'>Password</p> <input name='password' type='password'>
			<p class='form'>Password Confirmation</p> <input name='password_confirmation' type='password'>
			<input type="submit" value="Sign up" class='submit-button'>
		</form>
	</aside>

<% end %>